img {
  width: 100%;
  min-width: 100%;
}

.brand {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.brand-div {
  width: 50%;
  box-sizing: border-box;
  display: inline;
  padding-left: 5%;
}

.links-div {
  width: 50%;
  box-sizing: border-box;
  display: inline;
  float: right;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px 35px;
}

.nav-link:hover, .active {
  background-color: rgb(122, 193, 175);
  border-color: rgb(122, 193, 175);
  border: 1px;
  border-radius: 7px;
}

.hero {
  margin: 0;
  padding: 0;
  width: 100%;
}

.hero-background {
  margin: 0;
  padding: 0;
  height: 770px;
  width: 100%;
}

.navbar {
  position: absolute;
  top: 2%;
  width: 100%;
}

.search-text {
  position: absolute;
  top: 200px;
  color: white;
  font-size: 3em;
  width: 100%;
  text-align: center;
}

.search-form {
  position: absolute;
  top: 300px;
  font-size: 3em;
  width: 100%;
  text-align: center;
}

.search-input {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 7px;
}

.search-button {
  width: 80px;
  height: 40px;
  background-color: rgb(122, 193, 175);
  color: white;
  border-radius: 7px;
  border: none;
}

.learn-more-section {
  position: absolute;
  top: 570px;
  color: white;
  font-size: 1em;
  width: 100%;
  text-align: center;
}

.learn-more-arrow {
  width: 60px;
  margin-top: 20px;
}

.more-information-section {
  position: absolute;
  top: 900px;
  width: 100%;
}

.more-information-text {
  width: 60%;
  color: rgb(86, 33, 163);
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 50px;

}
.create-account-link-div {
  text-align: center;
}
.create-account-link {
  text-decoration: none;
  color: white;
  background-color: rgb(122, 132, 250);
  border-color: rgb(122, 132, 250);
  border: 1px;
  border-radius: 7px; 
  width: 100px;
  text-align: center;
  padding: 10px 35px;
}

.our-services-section {
  position: absolute;
  top: 1300px;
  width: 100%;
}

.our-services-header {
  color: rgb(86, 33, 163);
  font-size: 1.5em;
  text-align: center;
}

.our-services-hr-div {
  margin-top: 10px;
}

.our-services-hr {
  width: 5%;
  height: 5px;
  border: none;
  background-color: rgb(86, 33, 163);
  border-radius: 7px;
}

* {
  margin: 0 auto;
}